---
layout: default
---

<article class="post-container" itemscope itemtype="https://schema.org/BlogPosting">
    <header class="post-header">
        {% if page.categories %}
        {% for category in page.categories %}
        <span class="post-category-badge post-category-badge--inline">
            {{ category }}
        </span>
        {% endfor %}        
        {% endif %}
        <h1>{{ page.title }}</h1>
        <p class="post-meta">
            <time itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">
                {{ page.date | date: "%Y年%m月%d日" }}
            </time>
        </p>
        <meta itemprop="author" content="SwissPro">
        <meta itemprop="description" content="{{ page.description }}">
    </header>

    {% if page.thumbnail %}
    <div class="post-thumbnail-full">
        <img src="{{ page.thumbnail | relative_url }}" alt="{{ page.title }}">
    </div>
    {% endif %}

    <div class="post-body">
        {{ content }}
    </div>

    <div class="post-footer">
        <div class="post-footer-cta">
        <div class="tip-box" markdown="1">
        還是不清楚？歡迎詢問<a href="https://lin.ee/5BCOXOU"> 官方 LINE</a> 或至 <a href="https://www.instagram.com/swisspro.tw/">Instagram</a> 私訊。
        </div>
        <a href="{{ '/blog' | relative_url }}" class="back-to-blog">← 看其他瑞士攻略</a>
        </div>
    </div>
</article>